body {
    background: #f8f9fa;
}
.card {
    border-radius: 1rem;
}
.card-header {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
footer {
    margin-top: 40px;
    background: #e9ecef;
}
.list-group-item {
    margin-bottom: 10px;
}
